*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #0a0a0a;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #717171;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* --- HEADER --- */
.header{
    background: #F5F5F7;
    margin-bottom: 87px;
}
.header__top {
    background-color: #0a0a0a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 33px 0 32px;
    margin-bottom: 71px;
}
.header__top nav {
    display: flex;
    gap: 0 30px;
}
.header__top a{
    font-size: 24px;
    line-height: 29px;
}
.tel{
    padding-left: 126px;
}

.header__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__inner-title{
    text-transform: uppercase;
    color: #490E84;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    margin-bottom: 40px;
}
.header__img{
    margin-bottom: 25px;
}
.header__button{
    width: 350px;
    height: 70px;
    background-color: #490e84;
    border: none;
    border-radius: 30px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 700;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}


/* --- SECTION NEW --- */
.section__new {
    margin-bottom: 150px;
}
.new__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #717171;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.new__inner {
    display: flex;
    gap: 191px;
}
.new__boxOne {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.new__boxOne-text {
    max-width: 559px;
}
.new__boxOne-textBold{
    font-size: 20px;
    font-weight: 700;
}


/* --- SECTION COLOR --- */
.color{
    margin-bottom: 150px;
}
.color__title{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #717171;
}
.color__items{
    display: flex;
    gap: 80px;
}
.color-item{
    text-align: center;
}
.color-item p{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}
.color__item-img{
    margin-bottom: 20px;
}